
.DS_Store
.AppleDouble
._*

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/

build/
dist/
*.egg-info/

*.log
*.tmp
*.bak

.vscode/
.idea/

.env

*/__pycache__/
*/.venv/
*/venv/
*/env/
*/build/
*/dist/
*/.idea/
*/.vscode/

pytest_cache/
.cache/
